@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

body{
    width: 100%;
    /* height: -webkit-fill-available; */
    min-height: 100%;
    background-image: url("https://i.giphy.com/media/9SJ0zZnGVQSajeSMZ2/giphy.webp");
    background-size: cover;
    background-position-x: center;
    color: #f0f0f0;
    font-family: 'Fira Sans', sans-serif;
    box-shadow: 0 20000px rgba(15, 15, 15, .96)  inset;
    
}

form, #bankinfo{
    background-color:#2E2E2E;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 1em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5em;
}

h1{
 
    text-align: center;
}

input{
    
    background-color: #868686;
    font-size: 1em;
    border-radius: .25em;
}
  

p{
    text-align: center;
    font-size: 1.5em;
}

a{
    color:#FF3374;
    text-align: center;
    font-size: 1.5em;
}

.fa {
    font-size: 2.5em;
    text-align: center;
    color:#33D1FF;
    padding: 20px;
    font-size: 30px;
    width: 10px;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  
  }
  
  .fa:hover {
      opacity: 0.7;
      
  }

  #money {
      color:#FFCB1B;
  }

  #name{
      color:#FF3374;
  }
  #password{
      color:#09FF36;
  }

